# Mac specific
.DS_Store
*.DS_Store

# README Previews
README.html

# R project files
renv/
.Rprofile
.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron

# Knitted files from Rmarkdown 
01_data_preprocessing.html
01_data_preprocessing.pdf
data_processing_comparison_author.html
data_processing_comparison_author.pdf

# Space-consuming datasets and files  
datasets/
SalasA_2023_GSE214695/
