# Mac specific
.DS_Store
*.DS_Store

# README Previews
README.html

# R project files
renv/
.Rprofile
.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron 
.RDataTmp

# Knitted files from Rmarkdown 
scRNAseq_data_processing_template.html
scRNAseq_data_processing_template.pdf
data_processing_comparison_author.html
data_processing_comparison_author.pdf
cell_clustering.html
cell_clustering.pdf
t_cell_projections.html
t_cell_projections.pdf
gcnt2_expression.html
gcnt2_expression.pdf

# Space-consuming datasets and files  
datasets/
SalasA_2023_GSE214695/
ProjecTILs_references/